<%inherit file="base.htm" />

<%block name="content">
    <div class="content">

      <h2>About Us</h2>

      <p>When we're not busy with being web ninjas, we try and remember
        to do our homework occasionaly and get out and do fun things
        together!</p>

      <p>We are members of the church of Jesus Christ of Latter-day Saints,
        and we belive that if we do what Heavenly Father asks of us, then
        we will be able to live together as eternal families! There is
        nothing in world that makes us happy than working towards that
        eternal goal</p>

      <img class="main-feature" src="${ STATIC_URL }homepage/media/sacramento-california.jpg" />

    </div>

</%block>
