<%inherit file="base.htm" />

<%block name="content">
    <div class="content">

      <h1>Adam Lane</h1>
      <p>(707) 676-3588<br />
        adamelane@outlook.com</p>

      <h2>Education</h2>
      <strong>Masters Degree, Management of Information Systems</strong> April 2016<br />
      Brigham Young University, Provo, UT
      <ul>
        <li>Academic Scholarship 2010, 2013, 2014</li>
        <li>GPA 3.89</li>
        <li>Specialized Courses: Java Programming, IOS App Development,
      	Web Development</li>
      </ul>

      <h2>Experience</h2>
      <strong>Web Developer - Marriott School of Management</strong> May 2013 - Present<br />
      Brigham Young University, Provo, Utah
      <ul>
        <li>Maintain and build more than 25 web applications which ensure
      	the daily internet interactions of students and faculty run smoothly</li>
        <li>Lead a team of 4 to design and implement campus clubs web
      	application giving registration and administration tools for
      	officers and members</li>
        <li>Contributed as lead on a project expected to reduce processing
      	time for awarding language certifications by 40%</li>
      </ul>

      <strong>Crew Member, Crew Leader</strong> May - October 2010; November 2012 - January 2013<br />
      Yah-Whooo Organic Farms, Dixon, California
      <ul>
        <li>Led a team of 4 to complete 9 special projects that made functional
      	improvements to facilities, improved customer and worker environment,
      	and increased safety standards</li>
        <li>Completed various facility improvement projects that qualify
      	business for 2 extra commercial organic certifications</li>
        <li>Designed and built planter boxes increasing plant production and
      	sales by as much as 20%, and prepared a heating system expected to
      	increase winter sales by as much as 15%</li>
      </ul>

      <strong>Volunteer Representative</strong> October 2010 - 2012<br />
      The Church of Jesus Christ of Latter-Day Saints, Houston, Texas
      <ul>
        <li>lead, supervised, and trained groups of 8 representatives in
      	communication, organization, and goal achieving skills</li>
        <li>Organized efforts in 3 cities to teach life skills and promote
      	community involvement</li>
        <li>Participated in weekly service to individuals, families, and
      	culturally diverse communities</li>
      </ul>

      <h2>Skills and Achievements</h2>
      <ul>
        <li>Proficient in PHP, SQL, SVN, Excel, Word, PowerPoint</li>
        <li>Experience with Python, Java, jQuery, C, VBA, HTML, CSS, Access</li>
        <li>Enjoy family, camping, reading, technology, learning, sports</li>
        <li>Top 10% Dixon High School, California</li>
        <li>Conversational Spanish</li>
        <li>Eagle Scout</li>
      </ul>



      <a href="${ STATIC_URL }homepage/media/adam_resume.pdf" download="adam_resume"><buton>Download Resume</button></a>
    </div>

</%block>
