<%inherit file="base.htm" />

<%block name="content">
    <div class="content">

      <h2>Contact Us</h2>

      <table class="table">
        <tr>
          <td><strong>Webmaster:</strong></td>
          <td>Adam Lane</td>
        </tr>
        <tr>
          <td></td><td>adamelane@outlook.com</td>
        </tr>

        <tr>
          <td><strong>Number 1:</strong></td>
          <td>Reilly Lane</td>
        </tr>
        <tr>
          <td></td><td>(coming soon)</td>
        </tr>

        <tr>
          <td><strong>Engineering:</strong></td>
          <td>tarron Lane</td>
        </tr>
        <tr>
          <td></td><td>(coming soon)</td>
        </tr>

      </table>

    </div>

</%block>
