<%inherit file="base.htm" />

<%block name="content">
    <div class="content">

      <h2>Welcome, we are the Lane family!</h2>

      <p>This is our homepage. A place for all our web technology experiments and a nice
        portfolio for those of us interested in Web Development careers!</p>

      <ul>
        <li><a href="/homepage/adam">Adam Lane</a></li>
        <li>Reilly Lane (coming soon)</li>
        <li>Tarron Lane (coming soon)</li>
      </ul>

      <img class="main-feature" src="${ STATIC_URL }homepage/media/lanez_camping.jpg" />

    </div>

</%block>
